:root{
    --banner-height: 25px;
    --margin: 10px;
    --edgeThickness: 5px;
    --edgeColour: black;
}

#banner{
    position: fixed;
    top: 0;
    left: var(--margin);
    height: var(--banner-height);
    display: flex;

    user-select: none;
}

.bannerButton{
    height: 100%;
}

.realFakeButtonContainer{
    width: 50px;
    height: var(--banner-height);
}

#fakeLoadButton,#loadButton{
    width: 50px;
    height: var(--banner-height);
    position: relative;
}

#loadButton{
    opacity: 0;
    top: -100%;
}

/* defined here for consistency across browsers, which I'm generally not super concerned with */
/* however, in this case javascript is changing these colours so I need a standard */
button{
    background-color: #e0e0e0;
    border: none;
    border-radius: 0;
}

button:hover{
    background-color: #d5d5d5;
}

button:active{
    background-color: #b0b0b0;
}

#rootWindow{
    position: fixed;
    background-color: lightgray;

    top: calc(var(--banner-height) + var(--margin) + var(--edgeThickness));
    bottom: calc(var(--margin) + var(--edgeThickness));
    left: calc(var(--margin) + var(--edgeThickness));
    right: calc(var(--margin) + var(--edgeThickness));
}

border-edge{
    position: fixed;
    background-color: var(--edgeColour);
}

#topEdge{
    top: calc(var(--banner-height) + var(--margin));
    left: calc(var(--margin) + var(--edgeThickness));
    right: calc(var(--margin) + var(--edgeThickness));
    height:var(--edgeThickness);
}

#bottomEdge{
    bottom: var(--margin);
    left: calc(var(--margin) + var(--edgeThickness));
    right: calc(var(--margin) + var(--edgeThickness));
    height: var(--edgeThickness);
}

#leftEdge{
    top: calc(var(--banner-height) + var(--margin) + var(--edgeThickness));
    bottom: calc(var(--margin) + var(--edgeThickness));
    left: var(--margin);
    width: var(--edgeThickness);
}

#rightEdge{
    top: calc(var(--banner-height) + var(--margin) + var(--edgeThickness));
    bottom: calc(var(--margin) + var(--edgeThickness));
    right: var(--margin);
    width: var(--edgeThickness);
}

.corner {

    position: fixed;

    /* the corner size is double the thickness so that a quarter of it is shown as the corner */
    /* this relies on the root window being rendered on top of the corners, ensured by setting the z-index to -1 */
    width: calc(2 * var(--edgeThickness));
    height: calc(2 * var(--edgeThickness));
    z-index: -1;

    background-color: var(--edgeColour);
    border-radius: 30%;
}

#topLeftCorner {
    top: calc(var(--banner-height) + var(--margin));
    left: var(--margin);
}

#topRightCorner {
    top: calc(var(--banner-height) + var(--margin));
    right: var(--margin);
}

#bottomLeftCorner {
    bottom: var(--margin);
    left: var(--margin);
}

#bottomRightCorner {
    bottom: var(--margin);
    right: var(--margin);
}