:root{
    --banner-height: 25px;
}

#banner{
    position: fixed;
    top: 0;
    left: 0;
    height: var(--banner-height);
}

.bannerButton{
    height: 100%;
}

border-edge{
    position: fixed;
    background-color: black;

    --margin: 10px;
    --thickness: 5px;
    --start: 0;
    --end: 1;
}

.topSubEdge{
    top: calc(var(--banner-height) + var(--margin));
    left: var(--margin);
    right: var(--margin);
    height:var(--thickness);
}

.bottomSubEdge{
    bottom: var(--margin);
    left: var(--margin);
    right: var(--margin);
    height: var(--thickness);
}

.leftSubEdge{
    top: calc(var(--banner-height) + var(--margin));
    bottom: var(--margin);
    left: var(--margin);
    width: var(--thickness);
}

.rightSubEdge{
    top: calc(var(--banner-height) + var(--margin));
    bottom: var(--margin);
    right: var(--margin);
    width: var(--thickness);
}